### Question1

In [2]:
print("Hello Python")

Hello Python

### Question 2

In [4]:
num_1=int(input("enter the num_1 :"))
num_2=int(input("enter the num_2 :"))
add= num_1+num_2
print(add)
division=num_1 / num_2
print(division)

enter the num_1 : 2
enter the num_2 : 2

4
1.0

### Question 3

In [7]:
base=float(input("enter the val B:"))
height=float(input("enter the val H:"))

area_of_a_triangle=0.5*base*height

print(area_of_a_triangle)

enter the val B: 34
enter the val H: 23.6

401.20000000000005

# .2

In [11]:
base = float(input("enter the val B: "))
height = float(input("enter the val H: "))

area_of_a_triangle = 0.5 * base * height

print(f"area_of_a_triangle: {area_of_a_triangle:.2f}")

enter the val B:  23
enter the val H:  35.6

area_of_a_triangle: 409.40

# question 4 swap

In [21]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a, b = b, a

print( a)
print( b)

Enter first number:  23
Enter second number:  43

43
23

# question 5 random

In [19]:
import random
random.randint(000000, 999999)

576956

### ass 2

# question 1

In [25]:
kilometers = float(input("enter the km :"))
miles=kilometers*0.621371

print(miles)

enter the km : 2

1.242742

In [26]:
celsius = float(input("enter the value :"))
fahrenheit = (celsius * 9/5) + 32

print(fahrenheit)

enter the value : 100

212.0

In [34]:
import calendar

year = 2025
month = 3

print(calendar.month(year, month))

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

### question 5

In [30]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a, b = b, a

print( a)
print( b)

Enter first number:  234
Enter second number:  789

789
234

In [ ]:
import math

a = int(input("enter num 1:"))
b = int(input("enter num2:"))
c = int(input("enter num 3:"))

d = b**2 - 4*a*c
print (d)

enter num 1: 2
enter num2: 3
enter num 3: 5

-31